@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
  font-family: 'Roboto Mono', monospace;
  font-weight:400;
  font-size:1rem;
}

.container {
  max-width:900px;
}

p {
  font-weight:300;
}

h5 {
  font-size:1rem; line-height:1.5rem; font-weight:500;
}

h5 em {
  font-weight:700;
}

strong {
  font-weight:700;
}

.btn-dark.focus, .btn-dark:focus {
//  box-shadow: none;
}

#push{
  top:0.5rem; right:0.5rem; position:absolute;
}

shrink {
  display:none;
}

.loadingtext:after {
  display: inline-block;
  animation: dotty steps(1,end) 1s infinite;
  -webkit-animation: dotty steps(1,end) 1s infinite;
  content: '';
}

@keyframes dotty {
    0%   { content: ''; }
    25%  { content: '.'; }
    50%  { content: '..'; }
    75%  { content: '...'; }
    100% { content: ''; }
}